.DS_Store
node_modules
client/dist

# local env files
.env.local
.env.*.local

# production env files
.env.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# server logs
server/logs/*.log
server/logs/*.json
server/database/data/anime/*.json
server/database/data/user/*.json

#ngrok executable
server/ngrok/ngrok

!.gitkeep